.container {
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.date-controls,
.vehicle-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 18px;
  color: #007bff;
}

select,
input[type="date"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  min-width: 110px;
  font-size: 0.9rem;
  color: #333;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
}

button.generate-report {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

button.generate-report:hover {
  background-color: #0056b3;
}

.report-table {
  margin-top: 20px;
}

.vehicle-section {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.vehicle-section h3 {
  margin: 0 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #d9e3f4;
  
}

.export-excel {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px; /* Ajuste del tamaño */
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0; /* Sin márgenes */
}

.export-excel:hover {
  background-color: #218838;
}

.export-pdf {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px; /* Ajuste del tamaño */
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0; /* Sin márgenes */
}

.export-pdf:hover {
  background-color: #c82333;
}

/* Agrupación de botones */
.button-group {
  display: flex;
  gap: 5px; /* Reduce el espacio entre los botones */
  justify-content: center; /* Alineación centrada */
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active a {
  font-weight: bold;
  text-decoration: underline;
}

button.generate-report:disabled {
  background-color: #ccc; /* Color gris para indicar que está desactivado */
  cursor: not-allowed;   /* Cambia el cursor para mostrar que no es interactivo */
}

button:disabled {
  background-color: #ccc; /* Color gris */
  cursor: not-allowed; /* Indica que está deshabilitado */
}
